<p> <h3><%= @user.name %></h3> </p>

<ul>
    <li>
        <% @user.events.each do |event| %>  
            <%= link_to event.name, event_path(event) %>
        <% end %>
    </li>
</ul>

    <p> <%= link_to 'Back', root_path %></p>