<h1> Events Happening </h1>

<% @events.each do |event| %>
    <p> <%= link_to event.name, event_path(event) %> </p>
<% end %>

<h3> Upcoming events </h3>
    <% @upcoming_event.each do |event| %>
        <%= event.name %>
    <% end %>

<h3> Past events </h3>
    <% @past_event.each do |event| %>
        <%= event.name %>
    <% end %>
